.navigation {
  display: flex;
}

.Price {
  flex-basis: 20% !important;
  border: thin solid black;
  margin-right: 1%;
}

.Timer {
  flex-basis: 20% !important;
  height: 20vh;
  border: thin solid black;
}

body {
  background-color: black;
}

@media screen and (min-width: 992px) {
  #search,
  #REGISTER,
  #HAUT {
    position: absolute;
    top: 92%;
  }
}
.translate-50{
  transform: translate(-50%);
}
#search{
  position: absolute;
    top: 92%;
}
#search,
.nav_style:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 119, 1) 62%,
    rgba(121, 9, 119, 1) 98%
  );
  color: yellowgreen !important;
}
@keyframes style_nav {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 992px) {
  #REGISTER {
    translate: -100%;
  }
}

form #search {
  translate: -53% !important;
}
#HAUT {
  display: block !important;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.navbarSupportedContent {
  width: 1% !important;
}

@media only screen and (max-width: 992px) {
  #box1,
  #box2,
  #box1::after,
  #box2::after,
  #box1::before,
  #box2::before {
    width: 60vw !important;
    left: 50% !important;
  }
}

#box1 {
  position: relative;
  width: 20vw;
  height: 70vh;
  background-color: rgb(48, 3, 3);
  border-radius: 5px;
  overflow: hidden;
  left: 30%;
  transform: translate(-50%);
}

#box2 {
  position: relative;
  width: 20vw;
  height: 70vh;
  background-color: rgb(48, 3, 3);
  border-radius: 5px;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
}

.f-100 {
  flex-basis: 100% !important;
}

.translate-100 {
  transform: translate(-100%);
}

.small_screen_login {
  display: none !important;
}

@media only screen and (max-width: 992px) {
  .small_screen_login {
    display: block !important;
  }
  .big_screen_login {
    display: none !important;
  }
}

#box1::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 20vw;
  height: 70vh;
  background: linear-gradient(0deg, transparent, #ec33ff, #ec33ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

#box1::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 20vw;
  height: 70vh;
  background: linear-gradient(0deg, transparent, #ec33ff, #ec33ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
#box2::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 20vw;
  height: 70vh;
  background: linear-gradient(0deg, transparent, #ec33ff, #ec33ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

#box2::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 20vw;
  height: 70vh;
  background: linear-gradient(0deg, transparent, #ec33ff, #ec33ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#search:hover img {
  display: none;
}
.invert {
  filter: invert(100%);
}

#search input {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 119, 1) 62%,
    rgba(121, 9, 119, 1) 98%
  );
  color: white !important;
}
#search:hover {
  animation: search 1s linear;
  width: 100%;
  transform: translate(-0.4%);
}

@keyframes search {
  0% {
    width: 0%;
    transform: translate(0%);
  }
  100% {
    width: 100%;
    transform: translate(-0.4%);
  }
}

.translate-1 {
  transform: translate(-60%) !important;
}

#search input {
  position: absolute !important;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
#search img {
  position: absolute !important;
  z-index: 1;
}

#form1 {
  position: absolute;
  inset: 5px;
  border-radius: 5px;
  background: #28292d;
  z-index: 1;
}
#form2 {
  position: absolute;
  inset: 5px;
  border-radius: 5px;
  background: #28292d;
  z-index: 1;
}

.style_search:hover {
  animation: search 6s linear;
}
